dj-rest-auth==6.0.0
django-allauth==64.0.0
django-ckeditor==6.7.1
django-ckeditor-5==0.2.12
django-cors-headers==4.3.1
django-crispy-forms==2.0
django-debug-toolbar==4.1.0
django-dynamic-formsets==0.0.8
django-environ==0.11.2
django-etc==1.4.0
django-filter==24.3
django-hitcount==1.3.5
django-js-asset==2.2.0
django-phonenumber-field==7.1.0
django-rest-auth==0.9.5
django-rest-authtoken==2.1.4
django-tinymce==3.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
httpx==0.28.1
llama-recipes==0.0.1
llama_cpp_python==0.2.23
nltk==3.8.1
pdfminer.six==20231228
pdfplumber==0.11.5
pillow==10.4.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pydot==3.0.4
pypdfium2==4.30.1
python-dotenv==1.0.0
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
